{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主界面{% endblock %}


{% block dashboard-project %}{% endblock %}
{% block mini-dashboard-project %}{% endblock %}
{% block dashboard-units %}{% endblock %}
{% block Test_plan%}{% endblock %}
{% block Search %}style="background-color: rgba(0,153,255,0.5)"{% endblock %}

{% block content %}
        <!-- 幾台與phase選擇 -->

    <div id="content-wrapper">
      {% comment %}<div id="stars"></div>
      <div id="stars2"></div>{% endcomment %}

      <div class="container-fluid">


        <!-- Breadcrumbs-->
            <form class='form-Test' action="/SearchExport/" method="POST">
               <ol style="background-color:rgba(255,255,255,0.2)" class="breadcrumb">
                <!-- <li class="breadcrumb-item">
                 <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li> -->
                 <div class="input-group-sm">
                          <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px;color:#FFF">Customer</span><select style="background-color:rgba(81,145,211,0.7);color:#FFF" class="form-control-sm" name="Customer">
                                            <option value="Selected Customer">Selected Customer</option>
                                            <option value="C38(NB)">C38(NB)</option>
                                            <option value="C38(AIO)">C38(AIO)</option>
                                            <option value="A39">A39</option>
                                            <option value="Other">Other</option>
                                          </select>
{#                          <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px">Project</span><input type="text" class="form-control-sm" name="Project" >#}
                          <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px;color:#FFF">Project</span><select style="background-color:rgba(81,145,211,0.7);color:#FFF" class="form-control-sm" name="Project" >
                                            {% for line in project_list %}
                                                <option value={{line.Project}}>{{line.Project}}</option>
                                            {% endfor %}
                                          </select>
                          <span class="input-group-addon" style="padding-left: 25px;padding-right: 5px;color:#FFF">Phase</span><select style="background-color:rgba(81,145,211,0.7);color:#FFF" class="form-control-sm" name="Phase">
                                            <option value="Selected Phase">Selected Phase</option>
                                            <option value="B(FVT)">B(FVT)</option>
                                            <option value="C(SIT)">C(SIT)</option>
                                            <option value="INV">INV</option>
                                            <option value="Other">Other</option>
                                          </select>
                                          <button type="submit" class="btn btn-success "style="margin-left: 25px;" name="Search">Search</button>
                                          {% csrf_token %}
                        </div>
               </ol>
               <!-- <div class="container-fluid"> -->
            <div class="breadcrumb" style="background-color:rgba(255,255,255,0.2)">
                <!-- <div class="row"> -->

                    <div class="col-md-12" style="padding-top: 30px;">
{#                      <meta http-equiv="Refresh" content="60">#}

                        <div class="card-header" style="color:#FFF">

                        <i class="fas fa-table"></i>

                        TestLog list</div>
                        <button type="submit" class="btn btn-success" style="float: right;padding-top: 0%" name="Export">Export</button>
                        {% csrf_token %}

                        <div class="col-md-1 offset-2" style="padding-top: 30px;">

                        </div>

                        <div class="card-body" style="background-color:rgba(255,255,255,0.2)">

                        <div class="table-responsive" style="max-height: 500px;color:#FFF;">

                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:#FFF">

                            <thead>

                              <tr>

                                <th>Customer</th>
                                <th>Project</th>
                                <th>Phase</th>
                                <th>Unit</th>
                                <th>Tester</th>
                                <th>Item</th>
                                <th>Result</th>
                                <th>Start_time</th>
                                <th>End_time</th>
                                <th>Result_time</th>
                                <th>Comments</th>
                                <th>Item_Des</th>
                              </tr>
                            </thead>

                              <tbody {% comment %}style="font-weight: bolder;"{% endcomment %}>

                                  {% for line in test_list %}
                                        <tr>
                                            <td>{{line.Customer}}</td>
                                            <td>{{line.Project}}</td>
                                            <td>{{line.Phase}}</td>
                                            <td>{{line.Unit}}</td>
                                            <td>{{line.Tester}}</td>
                                            <td>{{line.Testitem}}</td>
                                            <td>{{line.Result}}</td>
                                            <td>{{line.Start_time}}</td>
                                            <td>{{line.End_time}}</td>
                                            <td>{{line.Result_time}}</td>
                                            <td style="white-space: pre-line">{{line.Comments}}</td>
                                            <td>{{line.Item_Des}}</td>
                                        </tr>
                                  {% endfor %}

                              </tbody>

                          </table>

                        </div>

                      </div>



                    </div>

    </div>

    </form>

      </div>

    </div>

{% endblock %}
{#<script type="text/javascript"　src="../static/vendor/datatables/exportExel.js"></script>#}