{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charste="utf-8">
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> -->
   <!-- 模板头文件 -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">

  <!-- 模板头文件结束 -->




	<link rel = "stylesheet"  type = "text/css"  href = "../static/css/bootstrap.min.css" />
	<link rel = "stylesheet"  type = "text/css"  href = "../static/css/test1.css" />
	<!-- <script type="text/javascript" src="../static/js/vue.js" ></script> -->
	<title>{{ hello }}</title>

</head>

<body class="bg">
    <!-- <h1 ><font color="#FFDC35">DQA3機構測試管理系統</font></h1>
    <hr color="#FFDC35" />  -->
    <div class="head">
      <h1 ><font color="#FFDC35">DQA3機構測試管理系統 </font></h1>
      <!-- <hr color="#FFDC35" />  -->
    </div>
    <div id="stars"></div>
    <div id="stars2"></div>


    <!-- 原始登录界面 -->
   <!--  <div id="login"  style="background:#fff">
     <form class="formstyle">
          <center>
          	<b >工號： </b>
          	 <input type="text" value="Account" name=UNITName class="mytxt" style="height: 30px; margin-bottom: 15PX;color:#aaaaaa;font-size: 20px"  placeholder="Account" border="2px solid #ffdc35 "/></center>
          	<br />
          <center><b>密碼： </b><input type="password" value="" name=password class="mytxt" style="height: 30px;color:#aaaaaa;font-size: 20px"   /></center>
     </form>
       <div class="errcode" id="err">
     	<p >
     		<center>
     			輸入工號或密碼有誤，請確認後重試
     		</center>
     	</p>
       </div>
       <div >
       	   <a href="/main/">
       	    <form style="margin-top: 15px;color: green"><center><input  type="button" value="登錄" class="ButtonStyle" style="margin-right: 80px">
       	    	</a>

    	   <input type="button" value="更改密碼" class="ButtonStyle" id="b" ></center>
    	  </form>
        </div>
     </form>
    </div> -->

    <!-- 原始界面结束 -->

    <body class="bg-dark">

  <div class="container" >
    <div class="card card-login mx-auto mt-5" style="background-color:rgba(255,255,255,0.3);">
      <div class="card-header" style="color:#FFF;">登錄</div>
      <div class="card-body"style="background-color: rgba(255,255,255,0.3);">
        <form class='form-Test' action="/login/" method="POST">
          <div class="form-group">
            <div><span>Account:</span></div>
            
              <input type="text" id="inputEmail" class="form-control" placeholder="Account" required="required" autofocus="autofocus" name="inputEmail" style="background-color:rgba(255,255,255,0.5)">
             <!--  <label for="inputEmail">Account</label> -->
            
          </div>
          <div class="form-group">
            <div><span>Password:</span></div>
            
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="inputPassword" style="background-color:rgba(255,255,255,0.5)">
             <!--  <label for="inputPassword">Password</label> -->
            
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
{#          <a type="submit" class="btn btn-primary btn-block">Login</a>#}
          <button type="submit" class="btn btn-primary btn-block">Login</button>
    　　  {% csrf_token %}
        </form>
        <!-- <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

 </body>


</body>
<style >
	#login{
		width:500px;
		height: 330px;
		margin:30px auto;
		border:2px solid #ffdc35;
		margin-top: 70px;

	}
</style>

</html>